<h2>Измение логина/пароля <%#= resource_name.to_s.humanize %>пользователя</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ожидайте инструкции на почту: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(оставьте поле пустым, если Вы не хотите ничего менять)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<!--TEST why more_than_one(@users) doesn't work-->
  <div class="field checkbox-inline">
  <% if resource.admin? && resource.id == current_user.id%>
    <%= f.check_box :admin%>
    <%= f.label "Администратор"%> <i>(Снять с себя права администратора)</i><br />
  <% elsif resource.admin?%>
    <%= f.check_box :admin%>
    <%= f.label "Администратор"%> <i>(Снять права администратора с данного пользователя)</i><br />
  <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(введите Ваш текущий пароль, чтобы произвести изменения)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>

<% end %>
<h3>Удалить учетную запись</h3>
<p>Разочарованы? <%= button_to "Удалить учетную запись", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>

<%= link_to t('.back'), root_path %>
