<div class="container col-lt-9">
  <% if current_user&.admin? %>
    <h1><%= @user.name %></h1>
    <table>
      <thead>
        <tr>
          <th><%=current_user.id%>:</th>
          <th><%=current_user.name%>:</th>
          <th><%=current_user.last_sign_in_ip%>:</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%#= render [:users, profiles] %>
      </tbody>
    </table>

    <%= link_with_item :users, admin_users_path, title: 'Управление пользователями' %>
  <% end %>
</div>
