<div class="container col-lt-9">
<h1 class="page_name">Управление пользователями</h1>
<% @users.each do |user| %>
  <p>
    <span class="big_list_items">
      <%= user.email %>
    </span>
    <% if user.admin? %>
      <span class="big_list_items"> (администратор) </span>
    <% end %>
    <span class='links pull-right'>
      | <%= link_with_item :user, user, title: 'Показать' %>
      | <%= link_with_item :pencil, edit_admin_user_path(user), title: 'Редактировать' %>
      <% if more_than_one_admin?(@users) %>
        | <%= link_with_item 'minus-square', [:admin, user], title: 'Удалить', method: :delete,
        data: { confirm:
                  "Вы уверены, что хотите удалить пользователя \"#{user.email}\"?"
                 } %>
      <% end %>
    </span>
  </p>
<% end %>
  <span class='links'><%= link_with_item 'user-plus', new_admin_user_path, title: 'Новый пользователь' %></span>
</div>

