<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MyUsers -  Admin" %></title>
    <%= csrf_meta_tags %>
    <%= render 'shared/bootstrap' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if more_than_one_admin?(@users)%>
      <div class="container col-lt-3">
          Иные администраторы:
        <ul><% @users.admins.each do |a| %>
          <% if a.id !=current_user.id %>
            <p><li>id: <%= a.id %></li></p>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container col-lt-9">
          <%= bootstrap_flash %>
          <%= yield %>
    </div>
  </body>
  <footer class='navbar-fixed-bottom'>
    <p class="text-center">&copy;  2017 Жевлаков Алексей</p>
  </footer>
</html>
